body {
    margin:0px;
    padding:0px;
    background-color:rgb(231,231,231);
}


._sentence {
  text-align: center;
  margin-top: 150px;
  font-size: 40px;
  font-family:Georgia;
  color:rgb(128,155,145);
}

._name {
  text-align: center;
  margin-top: 80px;
  font-size:24px;
  font-family:Georgia;
  color:rgb(128,155,145);
}

._site {
  text-align: center;
  margin-top: 0px;
  font-size:20px;
  font-family:Georgia;
  color:rgb(128,155,145);
}
